/*Google Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap");

/*CSS Variables*/
:root {
    --primary-font: "inter", sans-serif;
    --secondary-font: "macondo", cursive;
    --primary-color: #3a2620; /*brown*/
    --secondary-color: #aa9581 /*light brown*/;
    --highlight-color: #416a8e;
    --light-higlight-color: #7a9fc2;
}

/*General Styles*/
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}

h1, h2{
    text-transform: uppercase;
}

h2{
    margin-bottom:2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section{
    margin-top:2rem;
    margin-bottom:2rem;
}

/*Grid Styles for testing
.containter,
.row {
    border: 2px solid red;
}
.col-12 {
    border: 2px solid blue;
    background-color: lightblue;
}*/

/*Navbar Styles*/
#nav-bar {
    background-color: var(--primary-color);
}

#nav-bar .logo {
    width: 30px;
}

/*Header Styles*/
#header .lead{
    font-family: var(--secondary-font);
}


/*Services Section Styles*/
#services .card-footer{
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card{
    margin-bottom:1.5rem;
}

/*Game Library Section Styles*/
#new-games .card, #fav-games .card{
    border:none;
    margin-bottom:1.5rem;
}

/* Footer and Contact Section Styles*/
#contact{
    background-color: var(--primary-color);
    color:white;
    padding-bottom: 3rem;
}

#contact h2{
    color:white;
}

#contact .sub-heading-color{
    color: var(--light-higlight-color);
}

#contact i{
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right:15px;

}

#contact .social-links i{
    font-size:1.9rem;
    color: var(--light-higlight-color);
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover{
    color:var(--secondary-color);
}

#contact .table-dark *{
    background-color:transparent;}

/*Media Queries*/

/*For devices with a minimum width of 768px (tablets and up)*/
@media screen and (min-width: 768px) {
    #services .card-body{
        /*make all cards the same height*/
        height: 191px; }
    }  
    
    /*For devices with a minimum width of 992px (desktops and up)*/
@media screen and (min-width: 992px) {
    #services .card-body{
        /*make all cards the same height*/
        height: auto;}
    }
 /* for devices with a minimum width of 1200px (large desktops and up)*/
@media screen and (min-width: 1200px) {
    #services .card-body{
        /*make all cards the same height*/
        height: 220; }
    }  

    /*for devices with a minimum width of 1400px (extra large desktops and up)*/
@media screen and (min-width: 1400px) {
    #services .card-body{
        /*make all cards the same height*/
        height: 195px; }
    }